@use "../abstracts" as *;
.bg-levender-violet {
  background-color: $LEVENDER-VIOLET;
}
.bg-light-salmon {
  background-color: $LIGHT-SALMON;
}
.bg-light-sky-blue {
  background-color: $LIGHT-SKY-BLUE;
}
