@use "../base/typography" as *;
@use "../abstracts" as *;
.card {
  @extend .b3;
  @extend .txt-medium-blue;
  cursor: pointer;
  display: grid;
  align-items: center;
  padding: 0.5rem 1rem;
  background: $LIGHT-LAVENDER;
  @include border-radius(10px);

  &:hover {
    background: $LIGHT-LAVENDER-HOVER;
  }

  &.is-active {
    background: $MEDIUM-BLUE;
    color: white;
  }
}
