@use "../abstracts" as *;
$BORDER-CLIP: 0px;
.text-field {
  width: 100%;
  color: $DARK-INDIGO;
  background-color: $VERY-LIGHT-GREY;
  padding: 0.75rem 1.5rem;
  border: 0;
  @include border-radius(5px);

  &::placeholder {
    color: $DARK-INDIGO-HOVER;
  }

  &:hover:not(.error),
  &:focus:not(.error) {
    outline: 0;
    outline: 1px solid $MEDIUM-BLUE;
  }

  &.error {
    border: 1px solid $RED;
  }
}
