@use "../abstracts" as *;
.roadmap-page {
}

.roadmap-page--header {
  padding: 2rem;
  @include border-radius(10px);
  .back-btn {
    color: white;
  }
  .back-btn svg path {
    stroke: #cdd2ee;
  }

  @include small-screen {
    width: 100vw;
    margin-left: -2em;
    @include border-radius(0);
  }
}
