@use "../abstracts" as *;
.form {
  position: relative;
  width: 370px;
  background: $WHITE;
  padding: 2.75rem 1.5rem;
  margin-top: 4.25rem;
  @include border-radius(10px);

  .form-icon {
    position: absolute;
    top: -28px;
  }
  .form--title {
    word-wrap: break-word;
    max-width: 100%;
  }

  @include medium-screen {
    width: 540px;
    padding: 3.25rem 2.625rem;
    margin-top: 4.25rem;
  }
}
