// Colors
$LEVENDER-VIOLET: #ad1fea;
$LEVENDER-VIOLET-HOVER: #c75af6;

$MEDIUM-BLUE: #4661e6;
$MEDIUM-BLUE-HOVER: #7c91f9;

$MIDNIGT-NAVY: #373f68;
$WHITE: #ffffff;

$LIGHT-LAVENDER: #f2f4ff;
$LIGHT-LAVENDER-HOVER: #cfd7ff;

$VERY-LIGHT-GREY: #f7f8fd;

$DARK-INDIGO: #3a4374;
$DARK-INDIGO-HOVER: #656ea3;

$LIGHT-SLATE-GREY: #647196;
$LIGHT-SALMON: #f49f85;
$LIGHT-SKY-BLUE: #62bcfa;

$RED: #d73737;
$RED-HOVER: #e98888;

// Breakpoints
$MEDIUM-SCREEN: 40em;
$LARGE-SCREEN: 55em;
